/* Base Presentation Styles */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);
html { background-color: #e4e4e4; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; font-weight: 400; }

/* Base Presentation Styles */
body { font-size: 2rem;  margin: 0; padding: 0 0 10em; }
main { margin: 0 auto; max-width: 66rem; }

h1, h2, h3 {margin: 0;}

a { text-decoration: none; }

a:hover { color: #0099ff; }

a[href*="//"]:after { content: "\02911"; }

code { 
	font-family: monospace;
	display: block;
	margin: 1em 0;
	padding: 1em;
	background-color: #fff;
	border-radius: .5em;
	white-space: pre;
	overflow: auto;
	font-size: 2rem;
}

code > strong {
	color: #c00;
}

img {
	max-width: 100%;
}

figure {}
figure svg {
	border: 1px dashed #ccc;
	color: #000;
	background-color: #0D4863;
	font-size: 60px;
	font-weight: bold;
	stroke: #fff;
	fill: rgba(255,255,255,.3);
	stroke-width: 2;
	stroke-linecap: square;
}

figcaption {
	font-size: .5em;
}

.menu {
  margin: 0;
  padding: 0;
}
.menu-item {
  background-color: #f4f4f4;
  border-radius: 4px;
  display: block;
  margin: 1rem;
  padding: 1rem;
}
